<h1>餐廳後台</h1>
<div id="switch">
  <a href="/admin/restaurants">Restaurants</a> |
  <a href="/admin/users/">Users</a>
</div>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      {{#if (eq ../user.id this.id)}}
      <td>admin</td>
      <td style="color:red;font-weight:700;">Cannot change authority by yourself!</td>
      {{else}}
      <td>admin</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST">
          <button type="submit" class="btn btn-success">set as user</button>
        </form>
      </td>
      {{/if}}
      {{else}}
      <td>user</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST">
          <button type="submit" class="btn btn-warning">set as admin</button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>